[Unit]
Description = mamemocraft server shutdown

[Service]
ExecStart = /home/mamemocraft/mamemocraft/bin/stop.sh
User = mamemocraft
Type = oneshot

[Install]
WantedBy = shutdown.target

