<!DOCTYPE html>
<html lang="ja">
<head>

<meta charset="utf-8">

<title>まめもくらふと</title>

<meta name="viewport" content="width=device-width">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="/static/index.css">
<script type="text/javascript" src="/static/index.js"></script>

</head>
<body>

<div class="container">
<h1>まめもくらふとベータ</h1>

<ul>
<li>まめもくらふとはまめもが運営するマインクラフトサーバです。</li>
<li>Minecraft Server 1.14.2 Spigot です。</li>
<li>これは、まめもくらふとのベータ版で、サーバの移転実験のまめもくらふとのクローンです。</li>
<li><b>このワールドは本番切り替え時に消滅します。ご了承ください。</b></li>
</ul>

<p>以下のアドレスを Minecraft Java版のマルチプレイのサーバに設定し、「サーバに接続」を押してください。</p>
<p>サーバ: <b>mamemocraft-beta.mamemo.online</b></p>

<div class="status_area">
<div id="status_load"><img src="/static/ajax-loader.gif"></div>
<div id="status_run"></div>
<div id="status_stop"></div>
<div id="status_message"></div>
　<input type="button" id="power" value="起動">
<div style="clear:both"></div>
</div>

<p>GCE Preemptive Instanceを使用していますので、勝手に止まります。サーバが「停止中」になると上にボタンが出現しますので、それを押して起動してください。</p>

<h2>マップ</h2>
<p><a href="https://dynmap.mamemocraft-beta.mamemo.online/" target="_blank">まめもくらふと動作中の場合、こちらからマップがみれます</a></p>

<hr>
お問い合わせ先: <a href="https://don.mamemo.online/@mamemomonga">まめも</a>
</div>
</body>
